@charset "utf-8";

:root {
    --main-color: #000000;
    --primary-text-color: #4F4F4F;
    --secondary-text-color: #A9A9A9;
    --secondary-color: #D3D3D3;
    --secundary-bg-color: #fff;
    --terciary-color: #00FA9A;
}

.banner {
    box-sizing: border-box;
    background-image: url(../../imagens/foto-5.jpg);
    height: 700px;
    background-size: 100%;
    background-repeat: no-repeat;
    border-bottom: 10px solid #000;
}

.banner .wrapper {
    display: flex;
    flex-direction: column;
    width: 640px;
}

.banner .box {
    margin-top: 36px;
    margin-left: 19px;
    margin-bottom: 40px;

}

.banner .navigation {
    display: flex;
    justify-content: space-around;
    margin-right: 70px;
}