@charset "utf-8";

:root {
    --main-color: #000000;
    --primary-text-color: #4F4F4F;
    --secondary-text-color: #A9A9A9;
    --secondary-color: #D3D3D3;
    --secundary-bg-color: #fff;
    --terciary-color: #00FA9A;
}

.header {
    display: flex;
    justify-content: space-between;
    background-color: var(--main-color);
    border-bottom: 10px solid var(--primary-text-color);
    padding: 10px 20px;
}