@charset "utf-8";


/*Geral*/
:root {
    --main-color: #000000;
    --primary-text-color: #4F4F4F;
    --secondary-text-color: #A9A9A9;
    --secondary-color: #D3D3D3;
    --secundary-bg-color: #5c1011;
    --terciary-color: #00FA9A;
}


* {
    font-family: 'Roboto', sans-serif;
}

header {
    background-color: var(--main-color);
}

img {
    border-radius: 100%;
    border: 2px solid #ff0000;
}