@charset "utf-8";


/*Geral*/
:root {
    --main-color: #000000;
    --primary-text-color: #4F4F4F;
    --secondary-text-color: #A9A9A9;
    --secondary-color: #D3D3D3;
    --secundary-bg-color: #fff;
    --terciary-color: #00FA9A;
}

header {
    display: flex;
    justify-content: space-between;
    background-color: var(--main-color);
    border-bottom: 10px solid var(--primary-text-color);
    padding: 10px 20px;
}

nav {
    text-align: right;
}

img {
    border-radius: 100%;
    border: 2px solid var(--secundary-bg-color);
    margin-top: 10px;
}

a {
    display: inline-flex; 
    align-items: center;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none; 
    margin-right: 30px; 
    font-family: 'Fira Code', Arial, Helvetica, sans-serif;  
}

a::before {
    content: '';
    background-color: var(--terciary-color);
    width: 10px;
    height: 10px;
    margin-right: 10px;
}
#botton {
    display:inline-block;
    background-color: var(--terciary-color);
    height: 60px;
    line-height: 60px;
    padding: 8px 10px;
   /* box-shadow: 5px 5px 0px #000;*/
   margin-right: 0;
}

#botton:hover {
    filter: brightness(1.2); 
    transform: translateY(-2px);
}